* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}

.App {
  background-color: #131760;
}

.ui.cards > .card > .image {
  height: 250px;
  padding: 20px;
  background: #ffffff;
  margin: auto;
}
.ui.cards > .card > .image > img {
  height: 100%;
  max-width: 100%;
  width: auto;
}
.ui.cards > .card > .content > .header {
  height: 48px;
  overflow: hidden;
  margin-bottom: 5px;
  background-color: rgb(255, 255, 255);
  color: #2b4183;
}
.ui.cards > .card > .content > .description {
  height: 36px;
  margin-bottom: 0px;
  overflow: hidden;
}
.ui.cards > .card .meta.price {
  margin-bottom: 15px;
  font-size: 18px;
  color: #131760;
  font-weight: 600;
}

.ui.cards > .card .meta.price > a {
  font-size: 1.3rem;
  color: #ffffff;
}

.ui.menu.fixed {
  height: 120px;
  padding-top: 15px;
  background-color: #bac3d2;
  color: #ffffff;
}

.ui.grid.container {
  margin-top: 120px;
  background-color: #1c1665;
}

.ui.grid > .row {
  background: #171433;
  color: #fff;
}
.ui.grid > .row > .column.lp {
  padding: 20px 40px 20px 20px;
  align-self: flex-start !important;
}
.ui.grid > .row > .column.rp {
  padding: 20px 20px 20px 40px;
  text-align: left;
  align-self: flex-start !important;
  color: #40127b;
}

.ui.grid > .row > .column > img,
.ui.grid > .row > img {
  height: 100%;
}
.ui.placeholder .header:not(:first-child):before,
.ui.placeholder .image:not(:first-child):before,
.ui.placeholder .paragraph:not(:first-child):before {
  display: none;
}

.ui.label,
.ui.labels .label {
  font-size: 22px;
}

.column.rp h1 {
  color: #ffffff;
}
.column.rp p {
  font-size: 18px;
  color: #fefefe;
}
.ui.placeholder.segment .column .button,
.ui.placeholder.segment .column .field,
.ui.placeholder.segment .column textarea,
.ui.placeholder.segment .column > .ui.input {
  background-color: #692ec9;
  border: 1px solid #9c7eb0;
  color: #ffffff;
  font-size: 20px;
  margin-left: 130px;
  margin-top: 130px;
}
.shoptitle {
  color: #131760;
  position: center;
  padding-top: 22px;
  font-size: 80px;
}
.Load {
  color: #fefefe;
  font-size: 20px;
}
